<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url({{ bg }});
            -webkit-background-size: cover; -moz-background-size: cover;
            background-size: cover; -o-background-size: cover;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: indianred;
        }
    </style>
</head>

<body>
    <div class="row" style="margin: 450px 0 100px 0;"></div>
    <center>
    <h2>
        {% block content %}
        {% endblock %}
    </h2>
</center>
</body>

</html>